rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {


    match /images/{userId}/{allPaths=**} {
      allow read, create: if request.auth!=null;
      allow delete, write: if request.auth.uid == userId
    }

     match /audio/{userId}/{allPaths=**} {
      allow read, create: if request.auth!=null;
      allow delete, write: if request.auth.uid == userId
    }


  }
}

